git+https://github.com/SingularChatelet/ChatterBot.git
git+https://github.com/SingularChatelet/chatterbot-corpus.git

torch
git+https://github.com/huggingface/transformers.git

git+https://github.com/Rapptz/discord.py.git
python-dotenv